<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <ul>
        {% for boss_employee in data %}
            {{ boss_employee | hierarchy | safe }}
        {% endfor %}
    </ul>
</body>
</html>